@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

/*********************************************** Header *******************************************************/
.stickyHeader {
    display: flex;   
    padding: 10px;
    background: linear-gradient(90deg, $ms-color-themePrimary, #14284E);
    flex-direction: row;
    box-sizing: border-box;
    
    * {       
      @include ms-font-l;
      @include ms-fontWeight-bold;
      color: #FFFFFF;
    }
    :global(.ms-Button) {
      &:global(.is-disabled) {
        background-color: transparent;
      }
      &:hover * {
        color: $ms-color-themePrimary;
      }
    }
    .panelItem {    
      display: flex;
      align-items: center;
      padding: 0 10px;
    }
    .headerLeftPanel {
      margin: 0 -10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .titleBlock {
          .headerTitle {
              font-weight: $ms-font-weight-regular;
              display: flex;
          }
      }
    }
    .headerRightPanel {
      margin: 0 -10px;
      display: flex;
      margin-left: auto;
      align-items: center;
      .separator {
        margin: 0 10px;
      }   
    }
    .separator{        
      background-color: white;
      display: flex;
      width:2px;
      height:22px;
    }
  }
  
  .callout {
    padding: 0 15px;
  }
  .calloutFooter {
    margin: 15px 0;
  }


  
  /******************************* Sync icon *************************************/
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  .synchronizing {
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
  }
  .syncButtonContainer {
    position: relative;
  }
  .transactionCount, .syncErrorsCount {
      position: absolute;
      border: 1px solid;
      border-radius: 13px;
      width: 11px;
      height: 11px;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .counterValue {  
    font-size: 12px;
  }
  .transactionCount {
    top: -4px;
    right: -4px;
    background-color: white;
    border-color: white;
    .counterValue {
      color: $ms-color-themePrimary;
    }
  }
  .syncErrorsCount {
    bottom: -4px;
    right: -4px;
    background-color: $ms-color-red;
    border-color: $ms-color-red;
    .counterValue {
      color: white;
    }
  }
  .syncErrorRow {
    padding: 8px 0;
    color: $ms-color-red;
    ul {
      margin:0;
    }
  }

  .formTitle {
    color: $ms-color-themePrimary;
    @include ms-font-l;
    @include ms-fontWeight-bold;
    border-bottom: 1px solid $ms-color-neutralTertiary;
    display: flex;
    flex-direction: row;
    align-items: center;
    .formTitleActions {
      margin-left: auto;
    }
  }
  .formSubTitle {
    font-style: italic;
    color: $ms-color-themeTertiary;
    @include ms-font-m-plus;
    @include ms-fontWeight-semibold;
  }
  
  .formField {
    position: relative;
    margin-top: 15px;
    .spinButton > div:first-child {
      margin: 0;
    }
    label {
      @include ms-font-xs;
      padding: 5px 0;
      display: block;
      &.requiredLabel {
        &::after {
          content: " *";
          color: $ms-color-red;
          padding-right: 12px;
        }
      }
    }
    .formValue {
      @include ms-fontWeight-semibold;
    }
  }
  
.syncNotifCallout {
  margin-bottom:15px;
}
.emptyMessage {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alternateRow {
  background-color: white;
}